body{
    background: #090909;
}

.bg-black {
    background: #000;
}

.card-project:hover {
    border: 1px solid #fff;
    cursor: pointer;
}

.profile-img{
    height: 100%;
    width: 100%;
}

.img-post{
    height: 40rem;
    width: 80rem;
    object-fit: cover;
}